<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="edge" />
<link rel="shortcut icon" href="/static/style/images/index/favicon.png" />

<!-- [my97日期时间控件] -->
<script type="text/javascript" src="/static/jslib/My97DatePicker/WdatePicker.js" charset="utf-8"></script>

<!-- [jQuery] -->
<script src="/static/jslib/easyui1.4.2/jquery.min.js" type="text/javascript" charset="utf-8"></script>

<!-- [layer] -->
<script type="text/javascript" src="/static/jslib/layer/layer.js" charset="utf-8"></script>

<!-- [公共JS] -->
<script type="text/javascript" src="/static/js/common/common.js" charset="utf-8"></script>

<!-- [公共样式] -->
<link rel="stylesheet" href="/static/style/css/common.css" type="text/css">
<link rel="stylesheet" type="text/css" href="/static/style/css/font-awesome.css" />
