<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="edge" />
<!-- [layerUI] -->
<script type="text/javascript" src="/static/lib/layui/layui.js" charset="utf-8"/>
<script type="text/javascript" src="/static/lib/layui/lay/lib/jquery.js" charset="utf-8"/>
<script type="text/javascript" src="/static/js/common/layui.common.js" charset="utf-8"/>
<!--bootstrap组件引用-->
<script type="text/javascript" src="/static/lib/bootstrap/js/bootstrap.js"/>
<link rel="stylesheet" type="text/css" href="/static/lib/bootstrap/css/bootstrap.css"/>
<!--bootstrap table组件以及中文包的引用-->
<script src="/static/lib/bootstrap/table/js/bootstrap-table.js"/>
<link rel="stylesheet" type="text/css" href="/static/lib/bootstrap/table/css/bootstrap-table.css"/>
<script src="/static/lib/bootstrap/table/js/bootstrap-table-zh-CN.js"/>
<script type="text/javascript" src="/static/js/x-admin.js" charset="utf-8"/>
<!-- [公共样式] -->
<link rel="stylesheet" type="text/css" href="/static/css/x-admin.css"/>

