<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.advance.scaffold.mapper.SysUserMapper">

    <!-- 通用查询结果列-->
    <sql id="Base_Column_List">
        id, login_name AS loginName, name, password, sex, user_type AS userType, state, create_time AS createTime, phone
    </sql>

    <!-- 通用查询结果列-->
    <sql id="Base_Column_List2">
        u.id, u.login_name AS loginName, u.name, u.password, u.sex, u.user_type AS userType, u.state, u.create_time AS createTime, u.phone
    </sql>

    <select id="listResource" resultType="String" parameterType="long">
        SELECT
            sr.url
        FROM
            sys_user su
        INNER JOIN sys_user_role sur ON su.id = sur.user_id
        LEFT JOIN sys_role_resource srr ON srr.role_id = sur.role_id
        INNER JOIN sys_resource sr ON sr.id = srr.resource_id
        WHERE
            <![CDATA[ sr.url <> '' ]]>
        AND su.id = #{id}
    </select>
    <!--获取用户列表-->
    <select id="getUsers" resultType="SysUser" parameterType="java.util.HashMap">
        SELECT
        su.id,
        su.login_name AS loginName,
        su.`name`,
        su.`password`,
        su.sex,
        su.user_type AS userType,
        su.state,
        su.create_time AS createTime,
        su.phone,
        sr.id AS roleIds,
        sr.`name` AS roleNames
        FROM
        sys_user su
        LEFT JOIN sys_user_role sur ON su.id = sur.user_id
        LEFT JOIN sys_role sr ON sr.id = sur.role_id
        <where>
            <if test="name != null">
                su.name like CONCAT('%', #{name}, '%')
            </if>

            <if test="createTimeStart != null">
                <![CDATA[
				  and su.create_time >= #{createTimeStart}
				]]>
            </if>
            <if test="createTimeEnd != null">
                <![CDATA[
				  and su.create_time <= #{createTimeEnd}
				]]>
            </if>
            <if test="loginName != null">
                <![CDATA[
				  and su.login_name like CONCAT('%', #{loginName}, '%')
				]]>
            </if>
        </where>
        group by su.id
    </select>

    <!--获取该用户详细信息-->
    <select id="getInfo" resultType="SysUser" parameterType="java.lang.Long">
       SELECT DISTINCT
            u.id,
            u.login_name AS loginName,
            u.`name`,
            u. PASSWORD,
            u.sex,
            u.user_type AS userType,
            u.state,
            u.create_time AS createTime,
            u.phone,
            group_concat(ur.role_id) roleIds
        FROM
            sys_user u
        INNER JOIN sys_user_role ur ON u.id = ur.user_id
        WHERE
            u.id = #{id}
    </select>
</mapper>