<!DOCTYPE html>
<html>
<#include "/common/include.html" />
<head>
    <title>登录页面</title>
</head>

<body>
<div class="top_div"></div>

<form class="layui-form">
    <div style="background: rgb(255, 255, 255); margin: -100px auto auto; border: 1px solid rgb(231, 231, 231); border-image: none; width: 400px; height: 200px; text-align: center;">
        <div style="width: 165px; height: 96px; position: absolute;">
            <div class="tou"></div>
            <div class="initial_left_hand" id="left_hand"></div>
            <div class="initial_right_hand" id="right_hand"></div>
        </div>
        <p style="padding: 30px 0px 10px; position: relative;"><span
                class="u_logo"></span>
            <input class="ipt" type="text" name="loginName" lay-verify="required"
                   autocomplete="off" placeholder="请输入用户名或邮箱">
        </p>

        <p style="position: relative;"><span class="p_logo"></span>
            <input type="password" id="password" name="password" lay-verify="required"
                   autocomplete="off" placeholder="请输入密码" class="ipt">

        </p>

        <div style="height: 50px; line-height: 50px; margin-top: 30px; border-top-color: rgb(231, 231, 231); border-top-width: 0px; border-top-style: solid;">
            <p style="margin: 0px 35px 20px 45px;">
               <span style="align:center;">
                  <a style="background: rgb(0, 142, 173); padding: 7px 10px; border-radius: 4px; border: 1px solid rgb(26, 117, 152); border-image: none; color: rgb(255, 255, 255); font-weight: bold;"
                     href="javascript:void(0);" lay-filter="login" lay-submit="">登录</a>
               </span></p></div>
    </div>
</form>
</body>
<script type="text/javascript">
    layui.use(['form'],
        function () {
            var form = layui.form(),
                layer = layui.layer;
            //监听提交
            form.on('submit(login)',
                function (data) {
                    $.post('/welcome/login', data.field, function (text) {
                        if (text.status === 200) {
                            location.href = "/welcome/index";
                        }
                        layer.msg(text.msg);
                    }, 'json');
                    return false;
                });

        });
    //得到焦点
    $("#password").focus(function () {
        $("#left_hand").animate({
            left: "150",
            top: " -38"
        }, {
            step: function () {
                if (parseInt($("#left_hand").css("left")) > 140) {
                    $("#left_hand").attr("class", "left_hand");
                }
            }
        }, 2000);
        $("#right_hand").animate({
            right: "-64",
            top: "-38px"
        }, {
            step: function () {
                if (parseInt($("#right_hand").css("right")) > -70) {
                    $("#right_hand").attr("class", "right_hand");
                }
            }
        }, 2000);
    });
    //失去焦点
    $("#password").blur(function () {
        $("#left_hand").attr("class", "initial_left_hand");
        $("#left_hand").attr("style", "left:100px;top:-12px;");
        $("#right_hand").attr("class", "initial_right_hand");
        $("#right_hand").attr("style", "right:-112px;top:-12px");
    });

</script>
</html>