<!DOCTYPE html>
<html lang="en">
<#include "/common/include.html" />
<head>
    <meta charset="UTF-8">
    <title>角色管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" type="text/css" href="/static/lib/bootstrap/css/bootstrap.css" media="all">
    <link rel="stylesheet" type="text/css" href="/static/lib/bootstrap-table/bootstrap-table.css" media="all">
    <link rel="stylesheet" type="text/css" href="/static/css/global.css" media="all">
    <link rel="stylesheet" type="text/css" href="/static/css/personal.css" media="all">

    <script type="text/javascript" src="/static/lib/bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="/static/lib/bootstrap-table/bootstrap-table.js"></script>
    <script type="text/javascript" src="/static/lib/bootstrap-table/bootstrap-table.min.js"></script>
    <style>
        .table th, .table td {

            height: 38px;

        }
    </style>

</head>
<body>

<!--<img src="/static/images/user.jpg" width="100%" height="100%"/>-->
<section class="layui-larry-box" >
    <div class="larry-personal">

        <div class="layui-tab">
            <div id="toolbar" class="btn-group" style="margin-top:10px;margin-bottom: 10px;">
                <button id="btn_add" class="btn btn-primary" style="display:none;">
                    <i class="glyphicon glyphicon-plus"></i> 添加
                </button>
                <button id="btn_edit" class="btn btn-warning" style="display: none;" disabled="" >
                    <i class="glyphicon glyphicon-edit"></i> 编辑
                </button>
                <button id="btn_delete" class="btn btn-danger" style="display: none;" disabled="" >
                    <i class="glyphicon glyphicon-remove"></i> 删除
                </button>
            </div>
        </div>
        <table id="dataTable" class="table-striped table-hover" data-mobile-responsive="true">
        </table>
    </div>
    </div>

    <#list userInfo.resourceList as r>
        <#if r == '/role/add'>
            <script type="text/javascript">
                $("#btn_add").show();
            </script>
        </#if>
        <#if r == '/role/add'>
            <script type="text/javascript">
                $("#btn_add").show();
            </script>
        </#if>
        <#if r == '/role/edit'>
            <script type="text/javascript">
                $.canEdit = true;
                $("#btn_edit").show();
            </script>
        </#if>
        <#if r == '/role/delete'>
            <script type="text/javascript">
                $.canDelete = true;
                $("#btn_delete").show();
            </script>
        </#if>
        <#if r == '/role/grant'>
            <script type="text/javascript">
                $.canGrant = true;
            </script>
        </#if>
    </#list>
</section>
<script type="text/javascript" src="/static/lib/layui/layui.js"></script>
<script>


    var $table = $("#dataTable");

    $(function(){
        var oTable = new TableInit();
        oTable.Init();
    });

    layui.use(['jquery', 'layer'], function () {
        window.jQuery = window.$ = layui.jquery;
        window.layer = layui.layer;
    });


    var TableInit = function () {
        var checkNum = 0;
        var oTableInit = new Object();
        //初始化Table
        oTableInit.Init = function () {
            //初始化Table
            $('#dataTable').bootstrapTable({
                url: '/role/dataGrid',         //请求后台的URL（*）
                method: 'get',                      //请求方式（*）
                toolbar: '#toolbar',                //工具按钮用哪个容器
                striped: true,                      //是否显示行间隔色
                cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                pagination: true,                   //是否显示分页（*）
                sortable: false,                     //是否启用排序
                sortOrder: "asc",                   //排序方式
                sidePagination: "client",           //分页方式：client客户端分页，server服务端分页（*）
                responseHandler: function (data) {
                    return data.rows;
                },
//                sidePagination: "server",
                pageNumber: 1,                       //初始化加载第一页，默认第一页
                queryParamsType: "undefined",
                pageSize: 10,                       //每页的记录行数（*）
                pageList: [10, 25, 50, 100],        //可供选择的每页的行数（*）
                showColumns: true,                  //是否显示所有的列
                queryParams: function queryParams(params) {
                    return {
                        pageSize: params.pageSize,
                        pageNumber: params.pageNumber,
                        name: params.searchText
                    };
                },
                search: true,
                showRefresh: true,                  //是否显示刷新按钮
                minimumCountColumns: 2,             //最少允许的列数
                clickToSelect: true,                //是否启用点击选中行
                height: 500,                        //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
                uniqueId: "id",                     //每一行的唯一标识，一般为主键列
                showToggle: true,                    //是否显示详细视图和列表视图的切换按钮
                cardView: false,                    //是否显示详细视图
                //detailView: false,                   //是否显示父子表
                columns: [{
                    checkbox: true
                }, {
                    field: 'id',
                    title: 'id',
                    width: 100
                }, {
                    field: 'name',
                    title: '名称',
                    width: 200
                }, {
                    field: 'seq',
                    title: '排序号',
                    width: 100
                }, {
                    field: 'isDefault',
                    title: '是否默认',
                    width: 100,
                    formatter: function (value) {
                        switch (value) {
                            case 1:
                                return '默认';
                            case 0:
                                return '否';
                        }
                    }
                },
                    {
                        field: 'description',
                        title: '描述'
                    }, {
                        file: '',
                        title: '操作',
                        formatter: function (value, row) {
                            var str = "";
                            if($.canGrant){
                                str = $.formatString('<button type="button" onclick="grantPage(\'{0}\');" class="btn btn-success btn-xs"><i class="icon-check"></i>&nbsp;授权</button>&nbsp;', row.id);
                            }
                            if(row.isDefault == 0 ){
                                if($.canEdit){
                                    str += $.formatString('<button type="button" onclick="editPage(\'{0}\');" class="btn btn-warning btn-xs"><i class="icon-pencil"></i>&nbsp;编辑</button>&nbsp;', row.id);
                                }
                                if($.canDelete){
                                    str += $.formatString('<button type="button" onclick="deleteFun(\'{0}\');" class="btn btn-danger btn-xs"><i class="icon-trash"></i>&nbsp;删除</button>&nbsp;', row.id);
                                }
                            }

                            return str;
                        }
                    }
                ],
                onCheck: function(row){
                    checkNum ++;
                    if(checkNum > 0){
                        $("#btn_delete").removeAttr("disabled");
                    }else{
                        $("#btn_delete").attr('disabled','disabled');
                    }
                    if(checkNum != 1){
                        $("#btn_edit").attr('disabled','disabled');
                    }else{
                        $("#btn_edit").removeAttr("disabled");
                    }
                },
                onUncheck: function(row){
                    checkNum --;
                    if(checkNum > 0){
                        $("#btn_delete").removeAttr("disabled");
                    }else{
                        $("#btn_delete").attr('disabled','disabled');
                    }
                    if(checkNum != 1){
                        $("#btn_edit").attr('disabled','disabled');
                    }else{
                        $("#btn_edit").removeAttr("disabled");
                    }
                }
            });
        };

        return oTableInit;
    };

    //添加记录
    $("#btn_add").click(function () {
        layer.open({
            title: '新增',
            type: 2,
            skin: 'layui-layer-rim', //加上边框
            area: ['480px', '380px'], //宽高
            content: '/role/addPage'
        });
    });

    //修改记录
    $("#btn_edit").click(function () {
        var datas = $.parseJSON(JSON.stringify($table.bootstrapTable('getSelections')));
        layer.open({
            title: '修改',
            type: 2,
            skin: 'layui-layer-rim', //加上边框
            area: ['480px', '380px'], //宽高
            content: '/role/editPage?id='+datas[0].id
        });
    });


    //删除多条记录
    $("#btn_delete").click(function () {
        //获取选中行数据
        var datas = $.parseJSON(JSON.stringify($table.bootstrapTable('getSelections')));
        var ids = "";
        if (datas.length > 0) {
            for (var i = 0; i < datas.length; i++) {
                ids += datas[i].id + ",";
            }
            layer.confirm("您确定删除这些角色吗?", {icon: 3, title: '提示'}, function (index) {
                $.post('/role/deleteByIds', {
                    ids: ids
                }, function (result) {
                    if (result.success) {
                        layer.alert(result.msg, {icon: 1});
                        $table.bootstrapTable('refresh');
                    }
                }, 'JSON');
            });

        }
    });

    function editPage(id) {

        layer.open({
            title:'修改',
            type: 2,
            skin: 'layui-layer-rim', //加上边框
            area: ['480px', '380px'], //宽高
            content: '/role/editPage?id='+id
        });
    }

    function grantPage(id) {
        layer.open({
            title:'权限设置',
            type: 2,
            area: ['400px', '450px'], //宽高
            fix: false, //不固定
            content: '/role/grantPage?id='+id
        });
    }


    //删除单条记录
    function deleteFun(id) {
        layer.confirm("您确定删除该角色吗?", {icon: 3, title: '提示'}, function (index) {

            $.post('/role/delete', {
                id: id
            }, function (result) {
                if (result.success) {
                    layer.alert(result.msg, {icon: 1});
                    $table.bootstrapTable('refresh');
                }
            }, 'JSON');
            layer.close(index);
        });
    }

</script>
</body>
</html>