<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
	                            http://www.springframework.org/schema/context 
	                            http://www.springframework.org/schema/context/spring-context-4.3.xsd
								http://www.springframework.org/schema/tx 
								http://www.springframework.org/schema/tx/spring-tx-4.3.xsd
								http://www.springframework.org/schema/aop 
								http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">

    <bean id="config"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:jdbc/datasource.properties</value>
            </list>
        </property>
    </bean>

    <!-- HiKariCP的数据源配置：-->
    <!--  其中，很多配置都使用缺省值就行了，除了maxLifetime和maximumPoolSize要注意自己计算一下。
  其他的配置（sqlSessionFactory、MyBatis MapperScannerConfigurer、transactionManager等）统统不用变。-->
    <bean id="dataSource" class="com.zaxxer.hikari.HikariDataSource" destroy-method="shutdown">
        <!-- 一般都无需指定，除非系统无法自动识别 -->
        <property name="driverClassName" value="${jdbc.driverClassName}"/>
        <property name="jdbcUrl" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
        <!-- 连接只读数据库时配置为true， 保证安全 -->
        <property name="readOnly" value="${jdbc.readOnly}"/>
        <!-- 等待连接池分配连接的最大时长（毫秒），超过这个时长还没可用的连接则发生SQLException， 缺省:30秒 -->
        <property name="connectionTimeout" value="${jdbc.connectionTimeout}"/>
        <!-- 一个连接idle状态的最大时长（毫秒），超时则被释放（retired），缺省:10分钟 -->
        <property name="idleTimeout" value="${jdbc.idleTimeout}"/>
        <!-- 一个连接的生命时长（毫秒），超时而且没被使用则被释放（retired），缺省:30分钟，建议设置比数据库超时时长少30秒，参考MySQL wait_timeout参数（show variables like '%timeout%';） -->
        <property name="maxLifetime" value="${jdbc.maxLifetime}"/>
        <!-- 连接池中允许的最大连接数。缺省值：10；推荐的公式：((core_count * 2) + effective_spindle_count) -->
        <property name="maximumPoolSize" value="${jdbc.maximumPoolSize}"/>
        <property name="connectionTestQuery" value="${jdbc.connectionTestQuery}"/>
    </bean>

    <!-- mybatis的配置映射文件简易配置与mybatis-plus配置 -->
    <bean id="sqlSessionFactory" class="com.baomidou.mybatisplus.spring.MybatisSqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="configLocation" value="classpath:mybatis/mybatis-config.xml"/>
        <property name="typeAliasesPackage" value="com.advance.scaffold.model"/>
        <property name="mapperLocations" value="classpath:mybatis/sql/*Mapper.xml"></property>
        <property name="globalConfig" ref="globalConfiguration"></property>
        <property name="plugins">
            <array>
                <!-- 分页插件配置 -->
                <bean id="paginationInterceptor" class="com.baomidou.mybatisplus.plugins.PaginationInterceptor">
                    <property name="dialectType" value="mysql"/>
                    <property name="optimizeType" value="jsqlparser"/>
                </bean>
                <bean class="com.baomidou.mybatisplus.plugins.PerformanceInterceptor">
                    <property name="maxTime" value="5000"/>
                    <property name="format" value="true"/>
                </bean>
            </array>
        </property>
    </bean>

    <bean id="globalConfiguration" class="com.baomidou.mybatisplus.entity.GlobalConfiguration">
        <property name="dbType" value="mysql"/>
        <!-- 0为自增 -->
        <property name="idType" value="2"/>
        <property name="dbColumnUnderline" value="false"/>
    </bean>

    <!-- mapper自动扫描 -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.advance.scaffold.mapper"/>
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"></property>
    </bean>

    <!--Mybatis plus 热加载-->
    <!--参数说明：-->
    <!--sqlSessionFactory:session工厂-->
    <!--mapperLocations:mapper匹配路径-->
    <!--enabled:是否开启动态加载  默认:false-->
    <!--delaySeconds:项目启动延迟加载时间  单位：秒  默认:10s-->
    <!--sleepSeconds:刷新时间间隔  单位：秒 默认:20s-->
    <bean class="com.baomidou.mybatisplus.spring.MybatisMapperRefresh">
        <constructor-arg name="sqlSessionFactory" ref="sqlSessionFactory"/>
        <constructor-arg name="mapperLocations" value="classpath:mybatis/sql/*Mapper.xml"/>
        <constructor-arg name="enabled" value="true"/>
        <constructor-arg name="delaySeconds" value="3"/>
        <constructor-arg name="sleepSeconds" value="3"/>
    </bean>

    <import resource="classpath:quartz/quartz-config.xml"/>

</beans>