<!DOCTYPE html>
<html lang="en">
<#include "/common/include.html" />
<head>
    <meta charset="UTF-8">
    <title>个人信息添加</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">

    <link rel="stylesheet" type="text/css" href="/static/lib/bootstrap/css/bootstrap.min.css" media="all">
    <link rel="stylesheet" type="text/css" href="/static/lib/bootstrap/css/bootstrap-responsive.min.css" media="all">
    <link rel="stylesheet" type="text/css" href="/static/lib/bootstrap/css/bootstrapValidator.css" media="all">

    <script src="/static/lib/jquery.min.js"></script>
    <script src="/static/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/lib/bootstrap/js/bootstrapValidator.js"></script>

</head>
<body >

    <form id="frm" class="form-horizontal" style="padding: 10px;" action="/user/add">
        <div class="control-group">

            <label class="control-label" >登录名</label>
            <div class="controls">
                <input type="text" name="loginName" placeholder="请输入登录名" class="input-xlarge">
                <p class="help-block"></p>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" >姓名</label>

            <div class="controls">
                <input type="text" placeholder="请输入姓名" class="input-xlarge">

                <p class="help-block"></p>
            </div>
        </div>
        <div class="control-group">

            <!-- Text input-->
            <label class="control-label" >密码</label>

            <div class="controls">
                <input type="text" placeholder="请输入密码" class="input-xlarge">

                <p class="help-block"></p>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">性别</label>

            <div class="controls">
                <!-- Inline Radios -->
                <label class="radio inline">
                    <input type="radio" value="男" name="sex" checked="checked">
                    男
                </label>
                <label class="radio inline">
                    <input type="radio" value="女" name="sex">
                    女
                </label>
            </div>
        </div>
        <div class="control-group">

            <!-- Select Basic -->
            <label class="control-label">用户类型</label>

            <div class="controls">
                <select class="form-control">
                    <option>管理员</option>
                    <option>用户</option>
                </select>
            </div>

        </div>


        <div class="control-group">

            <!-- Select Basic -->
            <label class="control-label">角色</label>

            <div class="controls">
                <select class="form-control" multiple="multiple">
                    <#list roles as role>
                        <option value="${role.id}">${role.name}</option>
                    </#list>
                </select>
            </div>

        </div>

        <div class="control-group">

            <!-- Text input-->
            <label class="control-label" >电话</label>

            <div class="controls">
                <input type="text" placeholder="请输入电话" class="input-xlarge">

                <p class="help-block"></p>
            </div>
        </div>


        <div class="control-group">
            <label class="control-label">可操作</label>

            <div class="controls">
                <!-- Inline Radios -->
                <label class="radio inline">
                    <input type="radio" value="是" name="state" checked="checked">
                    是
                </label>
                <label class="radio inline">
                    <input type="radio" value="否" name="state">
                    否
                </label>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label"></label>

            <!-- Button -->
            <div class="controls" style="text-align:center;">
                <button type="submit" class="btn btn-success">提交</button> &nbsp;&nbsp;
                <button class="btn btn-close">关闭</button>
            </div>
        </div>
    </form>


<script type="text/javascript" src="/static/lib/layui/layui.js"></script>

<script>


    layui.use(['jquery','layer','form'],function(){
        window.jQuery = window.$ = layui.jquery;
        window.layer = layui.layer;
        var form = layui.form();

        $(function(){

            //验证并提交表单
            $('#frm').bootstrapValidator({
                        message: 'This value is not valid',
                        feedbackIcons: {
                            valid: 'glyphicon glyphicon-ok',
                            invalid: 'glyphicon glyphicon-remove',
                            validating: 'glyphicon glyphicon-refresh'
                        },
                        fields: {
                            loginName: {
                                message: 'The loginName is not valid',
                                validators: {
                                    notEmpty: {
                                        message: 'The loginName is required and can\'t be empty'
                                    },
                                    stringLength: {
                                        min: 6,
                                        max: 30,
                                        message: 'The loginName must be more than 6 and less than 30 characters long'
                                    },
                                    /*remote: {
                                     url: 'remote.php',
                                     message: 'The username is not available'
                                     },*/
                                    regexp: {
                                        regexp: /^[a-zA-Z0-9_\.]+$/,
                                        message: 'The loginName can only consist of alphabetical, number, dot and underscore'
                                    }
                                }
                            },
                            email: {
                                validators: {
                                    notEmpty: {
                                        message: 'The email address is required and can\'t be empty'
                                    },
                                    emailAddress: {
                                        message: 'The input is not a valid email address'
                                    }
                                }
                            },
                            password: {
                                validators: {
                                    notEmpty: {
                                        message: 'The password is required and can\'t be empty'
                                    }
                                }
                            }
                        }
                    })
                    .on('success.form.bv', function(e) {
                        // Prevent form submission
                        e.preventDefault();

                        // Get the form instance
                        var $form = $(e.target);

                        // Get the BootstrapValidator instance
                        var bv = $form.data('bootstrapValidator');

                        // Use Ajax to submit form data
                        $.post($form.attr('action'), $form.serialize(), function(result) {
                            console.log(result);
                        }, 'json');
                    });
        });


        //提交表单
        $(".btn-success").onclick(function(){

            $("#frm").submit();

        });
        form.on('submit(tijiao)', function(data){
            $.post('/user/add',data.field,function(res){
                var index = parent.layer.getFrameIndex(window.name); //获取当前窗体索引

                var data = $.parseJSON(res);
                if(data.success){
                    parent.layer.msg(data.msg, {
                        icon: 1,
                        time: 1000 //2秒关闭（如果不配置，默认是3秒）
                    }, function(){
                        //do something
                        parent.layer.close(index); //执行关闭
                        parent.location.reload();
                    });

                }else{
                    layer.alert(data.msg);
                }
            });
            return false;
        });

    });
</script>
</body>